body{
  background-color:lightgrey;
  margin: 0;
  font-family: Verdana;
}
section{
  max-width: 800px;
  margin: 0 auto;
}
div{
  color: lightblue;
  background: #FFFFFF;
  height:400px;
  width:800px;
  margin:2px;
  padding:10px 20px 40px 20px;
  border:1px solid;
  display:inline-block;
}
span{
  color: lightblue;
  text-align:center left;
  background: #FFFFFF;
  height:180px;
  width:900px;
  margin:2px;
  padding:10px 40px 40px 10px;
  display:flex;
}
.content-wrapper{
  max-width: 900px;
  margin: 0px;
  display: inherit;
}
.header-text{
  color: white;
  font-size: 18px;
  text-align: right;
  width: 800px;
  height: 40px;
  margin: 0 auto;
  border:0px;
  background: #0056A7;
}
/* fixed blocks, which disappear with responsive actions */
.content-wrapper{
  color: white;
  font-size: x-small;
  text-align: center;
  width: 700px;
  height: auto;
  margin: 0 auto;
  border:0px;
  background: #FFFFFF;
  display: inherit;
}
.img-content-wrapper{
 width: 700px;
 margin: 0px;
 display: grid;
}
footer{
  background-color:white;
  margin: 0 auto;
  height:50px;
  text-align: center;
  padding: 10px;
  font-size: x-small;
}