 /* set up two layers */

.image-wrapper::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.image-wrapper {
  position: relative;
  z-index: 1;
} 

/* set up square grid */


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10px, 1fr)); /* Adjust minmax for desired square size */
  gap: 0px; /* Spacing between squares */
  position: relative;
  z-index: 2;
}

/* layering styles */

.grid-item {
  background-color: none; /* Example background */
  border: 0.1px solid #EEEEEE; /* Example border */
  position: relative; /* Needed for padding-top trick */
}
.grid-item-2 {
  background-color: coral; /* Example background */
  /*border: 1px solid steelblue;*/ /* Example border */
  position: relative; /* Needed for padding-top trick */
}
.grid-item-3 {
  background-color: chartreuse; /* Example background */
  /*border: 1px solid steelblue;*/ /* Example border */
  position: relative; /* Needed for padding-top trick */
}

.grid-item::before {
  content: '';
  display: block;
  padding-top: 100%; /* This creates the square aspect ratio */
}
.layer-one {
  display: none;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 150px;
  height: 100%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}
.layer-two {
  display: none;
  position: absolute;
  top: 5px;
  left: 300px;
  width: 150px;
  height: 100%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}
.layer-three {
  display: none;
  position: absolute;
  top: 5px;
  left: 600px;
  width: 150px;
  height: 100%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}
.layer-four {
  display: none;
  position: absolute;
  top: 314px;
  left: 0px;
  width: 100%;
  height: 50%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}
.layer-five {
  display: none;
  position: absolute;
  top: 314px;
  left: 257px;
  width: 100%;
  height: 100%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}

/* sppo layering */

.sppo-layer-one {
  display: none;
  position: absolute;
  top: 5px;
  left: 300px;
  width: 150px;
  height: 100%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}
.sppo-layer-two {
  display: none;
  position: absolute;
  top: 5px;
  left: 600px;
  width: 150px;
  height: 100%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}
.sppo-layer-three {
  display: none;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 150px;
  height: 100%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}
.sppo-layer-four {
  display: none;
  position: absolute;
  top: 314px;
  left: 300px;
  width: 100%;
  height: 50%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}
.sppo-layer-five {
  display: none;
  position: absolute;
  top: 314px;
  left: 257px;
  width: 100%;
  height: 100%;
  /*background-color: lightcoral;*/
  z-index: 3;
  padding: 0px;
}


/* datavis styles */

.mymain {
  /*height: 100px;*/
  position: absolute;
  /*background-image: ;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 820px;
  display: flex;
  flex-direction: row;
  font: 16px system-ui, Segoe UI, Arial, sans-serif;
}
.mymain div {
  padding:15px;
}

.mymain .brt-module1 {
  background-color:#030303;
  opacity: 0.9;
  width:33%;
}
.mymain .brt-module1 h1 {
  font-size: 24px;
  line-height: 0.4em;
  font-weight: 400;
  color: #23FD00;
  text-align: left;
}
.mymain .brt-module1 h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 0.6em;
  font-variant: small-caps unicase;
  color: #FFFFFF;
  text-align: left;
}
.mymain .brt-module1 h3 {
  font-size: inherit;
  line-height: 0.9em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.mymain .brt-module1 h4 {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #FFFFFF;
  list-style-type: disc;
  padding: 0px;
}
.mymain .brt-module1 ul{  
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.mymain .brt-module1 li {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #AAAAAA;
  list-style-type: square;
  padding: 0px;
}
.mymain .brt-module1 li::marker {
  color: #23FD00;
}

.mymain .brt-module2 {
  background-color:#121212;
  opacity: 0.9;
  width:33%;
}
.mymain .brt-module2 h1 {
  font-size: 24px;
  line-height: 0.4em;
  font-weight: 400;
  color: #3C72FE;
  text-align: left;
}
.mymain .brt-module2 h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 0.6em;
  font-variant: small-caps unicase;
  text-align: left;
  color: #FFFFFF;
}
.mymain .brt-module2 h3 {
  font-size: inherit;
  line-height: 0.9em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.mymain .brt-module2 h4 {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #FFFFFF;
  list-style-type: disc;
  padding: 0px;
}
.mymain .brt-module2 ul{  
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.mymain .brt-module2 li {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #AAAAAA;
  list-style-type: square;
  padding: 0px;
}
.mymain .brt-module2 li::marker {
  color: #3C72FE;
}

.mymain .brt-module3 {
  background-color:#333333;
  opacity: 0.9;
  width:33%;
}
.mymain .brt-module3 h1 {
  font-size: 24px;
  line-height: 0.4em;
  font-weight: 400;
  color: turquoise;
  text-align: left;
}
.mymain .brt-module3 h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 0.6em;
  font-variant: small-caps unicase;
  text-align: left;
  color: FFFFFF;
}
.mymain .brt-module3 h3 {
  font-size: inherit;
  line-height: 0.9em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.mymain .brt-module3 h4 {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #FFFFFF;
  list-style-type: disc;
  padding: 0px;
}
.mymain .brt-module3 ul{  
  display: block;
  list-style-type: disc;
  margin-top: 0.1 em;
  margin-bottom: 0.1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.mymain .brt-module3 li {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #AAAAAA;
  list-style-type: square;
  padding: 0px;
}
.mymain .brt-module3 li::marker {
  color: turquoise;
}

.mymain .brt-module4 {
  background-color:#222222;
  opacity: 0.9;
  width:69.6%;
}
.mymain .brt-module4 h1 {
  font-size: 24px;
  line-height: 0.4em;
  font-weight: 400;
  color: #FEE84A;
  text-align: left;
}
.mymain .brt-module4 h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 0.6em;
  font-variant: small-caps unicase;
  text-align: left;
  color: #FFFFFF;
}
.mymain .brt-module4 h3 {
  font-size: inherit;
  line-height: 0.9em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.mymain .brt-module4 h4 {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #FFFFFF;
  list-style-type: disc;
  padding: 0px;
}
.mymain .brt-module4 ul{  
  display: block;
  list-style-type: disc;
  margin-top: 0.1 em;
  margin-bottom: 0.2 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.mymain .brt-module4 li {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  line-height: 1.4em;
  color: #AAAAAA;
  list-style-type: none;
  padding: 0px;
}
.mymain .brt-module4 li::marker {
  color: #FEE84A;
  padding-left: 10px;
}

/* sppo styles */

.mymain .sppo-module1 {
  background-color:#121212;
  opacity: 0.9;
  width:33%;
}
.mymain .sppo-module1 h1 {
  font-size: 24px;
  line-height: 0.4em;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
}
.mymain .sppo-module1 h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 0.6em;
  font-variant: small-caps unicase;
  color: coral;
  text-align: left;
}
.mymain .sppo-module1 h3 {
  font-size: inherit;
  line-height: 0.9em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.mymain .sppo-module1 h4 {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #FFFFFF;
  list-style-type: disc;
  padding: 0px;
}
.mymain .sppo-module1 ul{  
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.mymain .sppo-module1 li {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #AAAAAA;
  list-style-type: square;
  padding: 0px;
}
.mymain .sppo-module1 li::marker {
  color: coral;
}

.mymain .sppo-module2 {
  background-color:#333333;
  opacity: 0.9;
  width:33%;
}
.mymain .sppo-module2 h1 {
  font-size: 24px;
  line-height: 0.4em;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
}
.mymain .sppo-module2 h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 0.6em;
  font-variant: small-caps unicase;
  text-align: left;
  color: turquoise;
}
.mymain .sppo-module2 h3 {
  font-size: inherit;
  line-height: 0.9em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.mymain .sppo-module2 h4 {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #FFFFFF;
  list-style-type: disc;
  padding: 0px;
}
.mymain .sppo-module2 ul{  
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.mymain .sppo-module2 li {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #AAAAAA;
  list-style-type: square;
  padding: 0px;
}
.mymain .sppo-module2 li::marker {
  color: turquoise;
}

.mymain .sppo-module3 {
  background-color:#030303;
  opacity: 0.9;
  width:33%;
}
.mymain .sppo-module3 h1 {
  font-size: 24px;
  line-height: 0.4em;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
}
.mymain .sppo-module3 h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 0.6em;
  font-variant: small-caps unicase;
  text-align: left;
  color: chartreuse;
}
.mymain .sppo-module3 h3 {
  font-size: inherit;
  line-height: 0.9em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.mymain .sppo-module3 h4 {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #FFFFFF;
  list-style-type: disc;
  padding: 0px;
}
.mymain .sppo-module3 ul{  
  display: block;
  list-style-type: disc;
  margin-top: 0.1 em;
  margin-bottom: 0.1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.mymain .sppo-module3 li {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #AAAAAA;
  list-style-type: square;
  padding: 0px;
}
.mymain .sppo-module3 li::marker {
  color: chartreuse;
}

.mymain .sppo-module4 {
  background-color:#222222;
  opacity: 0.9;
  width:69.6%;
}
.mymain .sppo-module4 h1 {
  font-size: 24px;
  line-height: 0.4em;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
}
.mymain .sppo-module4 h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 0.6em;
  font-variant: small-caps unicase;
  text-align: left;
  color: hotpink;
}
.mymain .sppo-module4 h3 {
  font-size: inherit;
  line-height: 0.9em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.mymain .sppo-module4 h4 {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  color: #FFFFFF;
  list-style-type: disc;
  padding: 0px;
}
.mymain .sppo-module4 ul{  
  display: block;
  list-style-type: disc;
  margin-top: 0.1 em;
  margin-bottom: 0.2 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.mymain .sppo-module4 li {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  line-height: 1.4em;
  color: #AAAAAA;
  list-style-type: none;
  padding: 0px;
}
.mymain .sppo-module4 li::marker {
  color: hotpink;
  padding-left: 10px;
}


/* UI styles */

body{
  overflow-x: hidden; /* Hide scrollbars */
  background-color:lightgrey;
  margin: 0;
  font-family: "Segoe UI", SF Pro, Verdana, sans-serif;
}
a{
  text-decoration: none;
}
a:link {
  color: #FFFFFF;
  border-bottom: 1px solid #62F2FF;
  font-weight: bold;
}
a:visited {
  color: #92CBFD;
  border-bottom: 1px solid #92CBFD;
}
a:hover {
  color: #62F2FF;
  border-bottom: 1px solid #62F2FF;
}
h1{
  text-align: left;
  font: 12px Arial, sans-serif;
  font-style: bold; 
  color:#FFFFFF;
}
h2{
  text-align: right;
  font: 12px Arial, sans-serif;
  font-style: bold; 
  color:#FFFFFF;
} 
section{
  max-width: 900px;
  margin: 0 auto;
}
header{
  background: #D4F5F9;
  margin: 0 auto;
  height:50px;
  text-align: center;
  padding: 10px;
  font-size: x-small;
  padding: 2px 8px 16px 32px;
}

footer{
  background-color: #273643;
  color: #FFFFFF;
  margin: 0 auto;
  height:50px;
  text-align: center;
  padding: 10px;
  font-size: small;
}

select {
  width: 80%;
  padding: 16px 20px;
  border: none;
  border-radius: 0px;
  background-color: #f1f1f1;
  margin: 4px 4px;
  cursor: pointer;
}
input[type=button], input[type=submit], input[type=reset] {
  width: 18%;  
  background-color: #0C3775;
  border: none;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-variant-caps: all-small-caps;
}
.clock{
  text-align: right;
  font: 12px Arial, sans-serif;
  font-style: bold; 
  color:#CCFF00;
}
.counter{
font-size: small;
max-height: 20px;
text-align: right;
padding: 0px 0px;
}
.monitor-area{
cursor: crosshair;
}
.monitor-area-zoom{
cursor: zoom-in;
}
.flex-container{
background: #57C0D2;
border: 1px solid lightgrey;
display: flex;
flex-wrap: wrap;
/* flex-direction: column; */
}
.flex-item{
color: white;
font-size: 22px;
border: 0px solid #0056A7;
padding: 0px;
flex: 1 1 auto;
box-sizing: border-box;
text-align: center;
/* max-height: 60px; */
}
.flex-item-5{
color: white;
font-size: large;
border: 0px solid #0056A7;
padding: 0px 10px 0px 26px;
flex: 1 1 auto;
box-sizing: border-box;
/* max-height: 60px; */
}
.flex-item-sppo{
color: white;
font-size: large;
border: 0px solid #0056A7;
/*background: #002147;*/
padding: 0px 10px 0px 26px;
flex: 1 1 auto;
box-sizing: border-box;
/* max-height: 60px; */
}
.flex-item-6{
font-variant-caps: all-small-caps;
color: white;
font-size: 22px;
border: 0px solid #0056A7;
padding: 0px 0px 0px 26px;
flex: 1 1 auto;
box-sizing: border-box;
/* max-height: 60px; */
}
.flex-container-2{
background: white;
border: 1px solid #0056A7;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.flex-container-3{
background: #273643;
border: 0px solid white;
display: flex;
flex-wrap: wrap;
padding: 10px;
flex-direction: column;
}
.flex-item-3{
color: #ECECEC;
background: #273643;
font-size: 16px;
border: 0px solid white;
padding: 10px;
flex: 1 1 auto;
box-sizing: border-box;
max-width: 900px;
}
.flex-container-4{
background: #0056A7;
border: 1px solid lightgrey;
display: flex;
flex-wrap: wrap;
/* flex-direction: column; */
}
.flex-item-4{
color: white;
font-size: large;
border: 0px solid #0056A7;
padding: 0px;
flex: 1 1 auto;
box-sizing: border-box;
/* max-height: 60px; */
}
.brt{
background: #002359;
display: flex;
flex-wrap: wrap;
flex: 1 1 auto;
border: 0px solid #002359;
padding: 10 0 10 0;
}
.metro{
background: #0072E1;
display: flex;
flex-wrap: wrap;
flex: 1 1 auto;
border: 0px solid #0072E1;
}
.sppo{
background: #03C2D5;
display: flex;
flex-wrap: wrap;
flex: 1 1 auto;
border: 0px solid #03C2D5;
}
.vlt{
background: #72ABDD;
display: flex;
flex-wrap: wrap;
flex: 1 1 auto;
border: 0px solid #92CBFD;
}
.ciclovias{
background: #7D80DA;
display: flex;
flex-wrap: wrap;
flex: 1 1 auto;
border: 0px solid #92CBFD;
}
.flex-container-title{
  background: #061D3E;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  flex-direction: row;
}
.flex-container-button{
  background: #0C3A81;
  border: 0px solid darkslategrey;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  flex-direction: row;
}
.flex-container-sppo-button{
  background: #349FB1;
  border: 0px solid darkslategrey;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  flex-direction: row;
}
.flex-container-metro-button{
  background: #2D73DA;
  border: 0px solid darkslategrey;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  flex-direction: row;
}
.flex-container-vlt-button{
  background: #549DEA;
  border: 0px solid darkslategrey;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  flex-direction: row;
}
.flex-container-ciclovias-button{
  background: #6A80ED;
  border: 0px solid darkslategrey;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  flex-direction: row;
}
.flex-item-button{
  border: 0px solid white;
  padding: 4px;
  flex: 1 1 auto;
  box-sizing: border-box;
  height: inherit;
}
button{
  font: 16px Segoe UI, Arial, sans-serif;
  font-variant-caps: all-small-caps;
  text-align: center;
  width: 100%;
  background-color: #061D3E;
  border-color: white;
  border-width: 3px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
.flex-container-7{
  background: #DDDDDD;
  border: 2px solid darkslategrey;
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  /*height: inherit;*/
  flex-direction: column;
 
}

.flex-item-column{
  background: #DDDDDD;
  border: 1px solid darkslategrey;
  padding: 0px;
  flex: 1 1 auto;
  box-sizing: border-box;
  height: inherit;
}

.hidden-div {
  display: none;
}
.div-container{
  flex-direction: row;
  display: none;
}
ul{
  margin: 0;
  padding: 0;
  height: 120px;
  display: flex;
  color: inherit;
/*  align-items: center;*/
/*  justify-content: flex-end; */
/*  justify-content: center; */
/*  justify-content: space-between; */
/*  justify-content: space-around; */
/*  justify-content: space-evenly; */
/*  align-items: stretch; */
/* align-items: center; */
/*  align-items: flex-start; */
/*  align-items: flex-end; */
}
li{
  border: 0px solid white;
  padding: 10px;
  flex: 1 1 auto;
  box-sizing: border-box;
  list-style-type: none;
}
.nome-estacao{
  text-align: left;
  padding-left: 24px;
  font: 24px Segoe UI, Arial, sans-serif;
  height: 50px;
  color:#234567;
  background-color: #BBBBBB;
  width:100%;
}
.module-00{
  padding-left: 24px;
  font: 24px Arial, sans-serif;
  color:#A2B3C4;
  background-color: #000000;
}
.module-01{
  padding-left: 24px;
  font: 60px Arial, sans-serif;
  color:#A2B3C4;
  background-color: #111111;
  width:25%;
}
.module-02{
  padding-left: 24px;
  font: 60px Arial, sans-serif;
  color:#1F2D;
  background-color: #222222;
  width:25%;
}
.module-03{
  padding-left: 24px;
  font: 60px Arial, sans-serif;
  color:#FFCC00;
  background-color: #333333;
  width:25%;
}
.module-04{
  padding-left: 24px;
  font: 60px Arial, sans-serif;
  color:#1ABCDE;
  background-color: #444444;
  width:25%;
}
.module-05{
  padding-left: 24px;
  font: 16px Segoe UI, Arial, sans-serif;
  text-align: left;
  color:#A2B3C4;
  background-color: #555555;
  width:25%;
}
.module-06{
  padding-left: 24px;
  font: 16px Segoe UI, Arial, sans-serif;
  text-align: left;
  color:#1F4D;
  background-color: #666666;
  width:25%;
}
.module-07{
  padding-left: 24px;
  font: 16px Segoe UI, Arial, sans-serif;
  text-align: left;
  color:#FFCC00;
  background-color: #777777;
  width:25%;
}
.module-08{
  padding-left: 24px;
  font: 16px Segoe UI, Arial, sans-serif;
  text-align: left;
  color:#1ADEFF;
  background-color: #888888;
  width:25%;
}
