body{
  background-color:lightgrey;
  margin: 0;
  font-family: Segoe UI;
}
section{
  max-width: 900px;
  margin: 0 auto;
}
header{
  background: #273643;
  margin: 0 auto;
  height:50px;
  text-align: center;
  padding: 10px;
  font-size: x-small;
  padding: 2px 8px 16px 32px;
}
select {
  width: 80%;
  padding: 16px 20px;
  border: none;
  border-radius: 0px;
  background-color: #f1f1f1;
  margin: 4px 4px;
  cursor: pointer;

}
input[type=button], input[type=submit], input[type=reset] {
width: 18%;  
background-color: #273643;
  border: none;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.header-text{
  width: 900px;  
  color: white;
  font-size: 18px;
  text-align: center right;
  height: 40px;
  margin: 0 auto;
  border:0px;
  background: #0056A7;
}

.flex-container{
max-width: 900px;
background: #0056A7;
border: 1px solid lightgrey;
display: flex;
flex-wrap: wrap;
font-size: small;
/* flex-direction: column; */
}
.flex-item{
color: white;
font-size: large;
border: 1px solid #0056A7;
padding: 10px;
flex: 1 1 auto;
box-sizing: border-box;
text-align: bottom;
}
.flex-container-2{
background: lightgrey;
border: 0px solid #0056A7;
display: flex;
max-width: 900px;
flex-wrap: wrap;
flex-direction: column;
}
.flex-item-2{
border: 1px solid white;
padding: 0px;
flex: 0 1 auto;
box-sizing: border-box;
}
.flex-item-3{
background: white;
border: 1px solid white;
padding: 10px;
flex: 0 1 auto;
box-sizing: border-box;
max-width: 900px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
footer{
  background-color: #6EC1E4;
  margin: 0 auto;
  height:50px;
  text-align: center;
  padding: 10px;
  font-size: small;
}